*{
    box-sizing:border-box; 
    margin:0;
    padding:0;
    font-family: "Kanit", serif;
  
  }
  
  
  
  .home,
  .reports,
  .product,
  .team {
    display: flex;
    height: 90vh; /* 90% of the viewport height */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    font-size: 3rem; /* Adjust font size as needed */
  }